@keyframes header_animation {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes main_article_animate{
    from{
        transform: translateY(20%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}